/node_modules
/docs/.vuepress/dist
/docs/.vitepress/dist
/docs/.obsidian/**
!/docs/.obsidian/plugins/**
!/docs/.obsidian/app.json
!/docs/.obsidian/community-plugins.json
!/docs/.obsidian/core-plugins.json
!/docs/.obsidian/daily-notes.json
!/docs/.obsidian/hotkeys.json
/**/node_modules