strict-peer-dependencies=false
public-hoist-pattern[]=*umi*
public-hoist-pattern[]=*chalk*
public-hoist-pattern[]=@babel/core
public-hoist-pattern[]=rollup
public-hoist-pattern[]=prettier
public-hoist-pattern[]=dva-core